* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 40px;
  background-color: hsl(216, 12%, 8%);
}
.conteudo {
  background-color: hsl(215, 22%, 15%);
  height: 555px;
  width: 545px;
  margin: auto auto;
  border-radius: 30px;
  display: block;
}
.estrela {
  background-color: #272e38;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 505px;
  margin-bottom: 50px;
}

.titulo {
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  margin-left: 40px;
  font-size: 39px;
  margin-bottom: 20px;
}
p {
  color: #737a84;
  font-family: 'Overpass', sans-serif;
  margin-left: 40px;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
}

.botao-avaliacao {
  text-align: center;
  color: #808998;
  background-color: #272e38;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 0;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 20px;
  cursor: pointer;
}
.botao-avaliacao:hover {
  background-color: hsl(217, 12%, 63%);
  color: white;
  transition: 0.15s;
}
.botao-avaliacao:focus {
  background-color: hsl(25, 97%, 53%);
  color: white;
}
.submit {
  color: white;
  background-color: hsl(25, 97%, 53%);
  border: 0;
  margin-left: 40px;
  margin-top: 40px;
  height: 60px;
  width: 450px;
  border-radius: 30px;
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
}
.submit:hover {
  background-color: white;
  color: orange;
  transition: 0.15s;
}
.attribution {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
